/* Кольори */
@bg: white;

@light: #fbfbfb;
@gray: #C4C6C9;
@darkgray: #A1A4A9;
@dark: #262626;
@blue: #4A90E2;

@lightpurple: #D9B9FF;
@lightblue: #DBE3FA;
@lightred: #E7ADAD;
@lightyellow: #E7E7AD;
@lightgreen: #D3E1AE;

@mainfirst: #5cbcc3;
@mainsecond: #8d8d8d;

@mainfirst_darker: #3e8388;