@import "config";

*,
*::before,
*::after {
	box-sizing: border-box;
}

[class*="entypo"]:before {
	font-family: 'EntypoRegular', sans-serif;
	font-size: 16px;
}

@keyframes ripple-in {
	0% {transform: scaleX(0);}
	20%{transform: scaleX(1);opacity:0.3;}
	100%{transform: scaleX(1);opacity:0;}
}

.loader {
	position: absolute;
	top: calc(~"50% - 30px");
	left: calc(~"50% - 30px");
}

.lds-grid {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.lds-grid div {
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: @mainfirst;
	animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
	top: 6px;
	left: 6px;
	animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
	top: 6px;
	left: 26px;
	animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
	top: 6px;
	left: 45px;
	animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
	top: 26px;
	left: 6px;
	animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
	top: 26px;
	left: 26px;
	animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
	top: 26px;
	left: 45px;
	animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
	top: 45px;
	left: 6px;
	animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
	top: 45px;
	left: 26px;
	animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
	top: 45px;
	left: 45px;
	animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.dim {
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1000 !important;
	background-color:rgb(233, 233, 233);
}

html {
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 1px;
	color: black;
	text-align: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-image: url('../img/background.jpg');
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.1s;

	&:hover {
		color: black;
		text-decoration: none;
	}
}

p {
	font-size: 16px;
}

h1 {
	font-weight: 600;
}

textarea:focus, input:focus{
    outline: none;
}

select {
	height: 40px;
    background: initial;
    width: 100%;
    border-color: @mainfirst;
}

.wave {
	position:absolute;
	width:150px;
	height:75px;
	background-color:#FFF;
	top:0;
	left:0;
	transform: scale(0);
	opacity:0.5;
}

.btn {
	position: relative;
	width: 200px;
	height: 50px;
	border-radius: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
	text-decoration: none;
	overflow: hidden;

	&:focus {
	  outline: none;
	  box-shadow: none;
	}

	&:after {
	  content: "";
	  background: @light;
	  display: block;
	  position: absolute;
	  padding-top: 300%;
	  padding-left: 350%;
	  border-radius: 0;
	  margin-left: -20px!important;
	  margin-top: -120%;
	  opacity: 0;
	  transition: all 0.8s
	}

	&:active:after {
	  padding: 0;
	  margin: 0;
	  opacity: 1;
	  transition: 0s
	}
}



.btn.dark {
	color: @mainfirst;
	border: 1px solid @mainfirst;

	&:hover {
		background-color: @mainfirst_darker;
		color: white;
	}
}

.btn.light {
	background-color: @mainfirst;
	color: white;

	&:hover {
		background-color: @mainfirst_darker;
	}
}

.btn.inline {
	color: @mainfirst;
	border: 1px solid @mainfirst;

	&:hover {
		background-color: @mainfirst_darker;
		color: white;
	}
}

.btn.small {
	width: 100%;
	height: 30px;
}

.btn.only-icon {
	width: 30px;
	height: 30px;
	padding: 0;
}

.btn.only-icon.large {
	width: 60px;
	height: 60px;
}


textarea, input {
	font-size: 16px;
	letter-spacing: 1.2px;
	border: none;
	border-bottom: 1px solid @mainfirst;
	padding: 10px 15px;
	color: black;
	height: 40px;
	width: 100%;
	background-color: initial; 
	transition: all 0.1s;
}

textarea {
	border: 1px solid @mainfirst;
	height: 200px;
}

#search-input-flexdatalist {
	background: white;
}

app-nav {
	background-color: @mainfirst;
	color: white;
	min-height: 60px;

	a, span {
		color: white;
		letter-spacing: 1.5px;
		font-weight: 500;
	}

	.nav-item {
		margin-right: 10px;
	}

	.nav-link {
		font-size: 16px;
	}
}

app-stock {
	.dot {
		content: "";
		background-color: black;
		border-radius: 5px;
		width: 15px;
		height: 4px;
	}

	.path {
    	vertical-align: middle;
	}
}

item, category, clinic {


	.item, .category, .clinic {
		// border: 1px solid @mainsecond;
		padding: 10px;
		background-color: white;
		box-shadow: 0 2px 5px @mainfirst; 
		transition: 0.2s all;

		&:hover {
			cursor: pointer;
			box-shadow: 0 2px 15px @mainfirst;
		}

		.header {
			font-size: 22px;
			font-weight: 600;
		}

		.body {
			padding-top: 10px;
			transition: 0.1s all;

			p {
				font-size: 17px;
			}

			&:hover {
				pointer: cursor;
			}
		}

		.tags {
			padding-top: 10px;

			.tag {
				margin: 0;
				background: @mainfirst;
				color: white;
				padding: 5px;
				width: auto;
				margin-right: 5px;
				margin-bottom: 5px;
				text-transform: uppercase;
			}

			.category-tag {
				border: 1px solid @mainfirst;
				color: black;
				background: initial;
				text-transform: initial;
			}

			.red {
				background: red;
			}

			.yellow {
				background: yellow;
				color: black;
			}
		}

		a {
			color: black;
			text-decoration: none;
			cursor: pointer;
			transition: all 0.1s;

			&:hover {
				color: black;
				text-decoration: none;
			}
		}

		.red {
			color: red;
		}
	}

	.item {
		height: 100%;
	}
}

manage-item {
	.red {
		color: red;
	}

	.green {
		color: green;
	}
}

login, register {
	.toolip-btn {
		border: 1px solid @mainfirst;
		padding: 5px;
		margin: 5px;
    	display: inherit;

		&:hover {
			background-color: @mainfirst_darker;
			color: white;
		}
	}
}

.main-container {
	border: 1px solid @mainfirst;
	background: white;
	height: 100%;

	.main-header {
		background: @mainfirst;
		color: white;
		margin: 0;
		margin-left: -15px;
		padding: 5px;
		font-size: 27px;
		text-transform: uppercase;
	}
}

#logo {
	height: 100px;
}

.checkbox {
	height: auto;
	width: auto;
	margin-right: 10px;
}

.dropdown-menu {
	border-radius: 0;
}

.item-category {
	opacity: 0.5;
	
}
