<category class="col-12 col-md-3 mb-4">
	<div class="category">
		<a href="/stock/{opts.id}">
			<div class="header">
				<!-- <i class="fas fa-folder-open"></i> --> {opts.name}
			</div>
			<!-- <div class="body">
				<p class="m-0">
					<span class="font-weight-bold">{opts.subcategories}</span> subcategories and <span class="font-weight-bold">{opts.items}</span> items
				</p>
			</div> -->
		</a>
	</div>
</category>

