/* Кольори */
*,
*::before,
*::after {
  box-sizing: border-box;
}
[class*="entypo"]:before {
  font-family: 'EntypoRegular', sans-serif;
  font-size: 16px;
}
@-webkit-keyframes ripple-in {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  20% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0;
  }
}
@keyframes ripple-in {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  20% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0;
  }
}
.loader {
  position: absolute;
  top: -webkit-calc(50% - 30px);
  top: calc(50% - 30px);
  left: -webkit-calc(50% - 30px);
  left: calc(50% - 30px);
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #5cbcc3;
  -webkit-animation: lds-grid 1.2s linear infinite;
          animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}
@-webkit-keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.dim {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000 !important;
  background-color: #e9e9e9;
}
html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  color: black;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: url('../img/background.jpg');
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
a:hover {
  color: black;
  text-decoration: none;
}
p {
  font-size: 16px;
}
h1 {
  font-weight: 600;
}
textarea:focus,
input:focus {
  outline: none;
}
select {
  height: 40px;
  background: initial;
  width: 100%;
  border-color: #5cbcc3;
}
.wave {
  position: absolute;
  width: 150px;
  height: 75px;
  background-color: #FFF;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0.5;
}
.btn {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 0;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition-duration: 0.1s;
  /* Safari */
  transition-duration: 0.1s;
  text-decoration: none;
  overflow: hidden;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn:after {
  content: "";
  background: #fbfbfb;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  border-radius: 0;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}
.btn.dark {
  color: #5cbcc3;
  border: 1px solid #5cbcc3;
}
.btn.dark:hover {
  background-color: #3e8388;
  color: white;
}
.btn.light {
  background-color: #5cbcc3;
  color: white;
}
.btn.light:hover {
  background-color: #3e8388;
}
.btn.inline {
  color: #5cbcc3;
  border: 1px solid #5cbcc3;
}
.btn.inline:hover {
  background-color: #3e8388;
  color: white;
}
.btn.only-icon {
  width: 30px;
  height: 30px;
  padding: 0;
}
.btn.only-icon.large {
  width: 60px;
  height: 60px;
}
textarea,
input {
  font-size: 16px;
  letter-spacing: 1.2px;
  border: none;
  border-bottom: 1px solid #5cbcc3;
  padding: 10px 15px;
  color: black;
  height: 40px;
  width: 100%;
  background-color: initial;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
textarea {
  border: 1px solid #5cbcc3;
  height: 200px;
}
#search-input-flexdatalist {
  background: white;
}
app-nav {
  background-color: #5cbcc3;
  color: white;
  min-height: 60px;
}
app-nav a,
app-nav span {
  color: white;
  letter-spacing: 1.5px;
  font-weight: 500;
}
app-nav .nav-item {
  margin-right: 10px;
}
app-nav .nav-link {
  font-size: 16px;
}
app-stock .dot {
  content: "";
  background-color: black;
  border-radius: 5px;
  width: 15px;
  height: 4px;
}
app-stock .path {
  vertical-align: middle;
}
item .item,
category .item,
item .category,
category .category {
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 5px #5cbcc3;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
item .item:hover,
category .item:hover,
item .category:hover,
category .category:hover {
  cursor: pointer;
  box-shadow: 0 2px 15px #5cbcc3;
}
item .item .header,
category .item .header,
item .category .header,
category .category .header {
  font-size: 22px;
  font-weight: 600;
}
item .item .body,
category .item .body,
item .category .body,
category .category .body {
  padding-top: 10px;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}
item .item .body p,
category .item .body p,
item .category .body p,
category .category .body p {
  font-size: 17px;
}
item .item .body:hover,
category .item .body:hover,
item .category .body:hover,
category .category .body:hover {
  pointer: cursor;
}
item .item .tags,
category .item .tags,
item .category .tags,
category .category .tags {
  padding-top: 10px;
}
item .item .tags .tag,
category .item .tags .tag,
item .category .tags .tag,
category .category .tags .tag {
  margin: 0;
  background: #5cbcc3;
  color: white;
  padding: 5px;
  width: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
item .item .tags .category-tag,
category .item .tags .category-tag,
item .category .tags .category-tag,
category .category .tags .category-tag {
  border: 1px solid #5cbcc3;
  color: black;
  background: initial;
  text-transform: initial;
}
item .item .tags .red,
category .item .tags .red,
item .category .tags .red,
category .category .tags .red {
  background: red;
}
item .item a,
category .item a,
item .category a,
category .category a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
item .item a:hover,
category .item a:hover,
item .category a:hover,
category .category a:hover {
  color: black;
  text-decoration: none;
}
item .item .red,
category .item .red,
item .category .red,
category .category .red {
  color: red;
}
item .item,
category .item {
  height: 100%;
}
manage-item .red {
  color: red;
}
manage-item .green {
  color: green;
}
login .toolip-btn,
register .toolip-btn {
  border: 1px solid #5cbcc3;
  padding: 5px;
  margin: 5px;
  display: inherit;
}
login .toolip-btn:hover,
register .toolip-btn:hover {
  background-color: #3e8388;
  color: white;
}
.main-container {
  border: 1px solid #5cbcc3;
  padding-bottom: 10px;
  background: white;
}
.main-container .main-header {
  background: #5cbcc3;
  color: white;
  margin: 0;
  margin-left: -15px;
  padding: 5px;
  font-size: 27px;
  text-transform: uppercase;
}
#logo {
  height: 100px;
}
.checkbox {
  height: auto;
  width: auto;
  margin-right: 10px;
}
.dropdown-menu {
  border-radius: 0;
}
